.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 10px;
  grid-template-areas:
    "menu header header"
    "menu swiper user"
    "menu offers user";
  @media (max-width: 1245px) {
    grid-template-columns: 1fr 3fr;
  }
  @media (max-width: 990px) {
    grid-template-columns: auto 3fr;
  }
  @media (max-width: 730px) {
    grid-template-areas:
      "menu "
      "swiper "
      "offers";
    grid-template-columns: 1fr;
  }

  .menu {
    grid-area: menu;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;

    &_header {
      display: flex;
      align-items: center;
      width: 100%;
      height: 35px;
      padding: 0 10px;
      gap: 10px;
      background-color: $gray-color;
      border-bottom: 1px solid $gray-color;
      box-shadow: $shadow-2;
      svg {
        height: 23px;
        width: 23px;
      }
      @media (max-width: 990px) {
        display: none;
      }
    }
    &_list {
      margin-top: 3px;
      li {
        height: 32px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
          background-color: $gray-color;
        }
        a {
          padding: 0 20px;
          display: flex;
          align-items: center;
          gap: 10px;
          color: #424141;
          svg {
            fill: #8c8484;
            stroke: #8c8484;
          }
        }
      }
      @media (max-width: 990px) {
        display: flex;
        flex-direction: column;
        width: 80px;
        align-items: center;
        gap: 1.5px;
        li {
          a {
            span {
              display: none;
            }
            svg {
              transform: scale(1.5);
            }
          }
        }
      }
      @media (max-width: 730px) {
        width: 100%;
        height: fit-content;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }
  .header {
    grid-area: header;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    @media (max-width: 730px) {
      display: none !important;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 1rem;
      height: 100%;
      li {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 19px;
        color: $blue-color;
      }
    }
  }
  .swiper {
    grid-area: swiper;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
  }
  .user {
    position: relative;
    grid-area: user;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    @media (max-width: 1245px) {
      display: none;
    }
    &_container {
      padding: 1rem;
    }
    &_infos {
      position: absolute;
      top: 1rem;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      &_btns {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        button {
          width: 100px;
          height: 35px;
          border-radius: 10px;
          font-weight: 600;
          &:first-of-type {
            background: linear-gradient($blue-color, #0000ff34);
          }
        }
      }
    }
    &_header {
      position: relative;
      width: 100%;
      height: 150px;
    }
    &_image {
      position: relative;
      width: 80px;
      height: 80px;
      border-radius: 100%;
      box-shadow: $shadow-1;
      overflow: hidden;
    }
    h4 {
      margin-top: 10px;
      text-transform: capitalize;
      text-align: center;
    }
    &_links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;
      li {
        background-color: $gray-color;
        border-radius: 50%;
        transition: 0.2s;
        a {
          width: 50px;
          height: 50px;
          display: grid;
          place-items: center;
          svg {
            width: 30px;
            height: 30px;
            stroke: $blue-color;
          }
        }
        &:hover {
          a {
            svg {
              stroke: #fff;
            }
          }
        }
        &:nth-last-of-type(1),
        &:nth-last-of-type(2) {
          a {
            svg {
              fill: $blue-color;
            }
          }
          &:hover {
            a {
              svg {
                fill: #fff;
              }
            }
          }
        }
        &:hover {
          background-color: $blue-color;
        }
      }
    }
    &_swiper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .offers {
    grid-area: offers;
    height: 220px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    overflow: hidden;
    background-image: url("/images/flash.webp");
    background-position: -275px -135px;
    background-size: cover;

    &_link {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      img {
        display: block;
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
      }
      span {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        color: #fff;
        &:first-of-type {
          bottom: 10px;
          width: 90px;
          height: 25px;
          border-radius: 50px;
          font-size: 16px;
          font-weight: 600;
          background-color: $yellow-color;
        }
        &:last-of-type {
          font-style: italic;
          top: -5px;
          right: 15px;
          background-color: $redis-color;
          height: 40px;
          width: 40px;
          border-radius: 100%;
          display: grid;
          place-items: center;
          font-size: 14px;
          font-weight: 500;
          box-shadow: $shadow-1;
        }
      }
    }
  }
}
